
:root {
    --black-color: #010101;
    --dark-color: rgba(1, 1, 1, 0.3);
    --light-gray-color: rgba(232, 232, 226, 0.7);
    --background-color: #e8e8e2;
    --accent-color: #6d8434;
    --white-color: #fafafa;
    --luminous-color: #0101014d;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body {
    background: var(--background-color);
    font-family: "Neue Montreal", sans-serif;
  }

  ul {
    list-style: none;
  } 
  
  .container {
    width: 100%;
    padding: 0 20px;
    margin: auto;
  } 

/* ------------------------------------- */

.tui-pagination{
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 100%;
  justify-content: center;
  align-items: center;
   background: var(--background-color);
  color: #A3A3A3;

}

.tui-page-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: none;
  text-decoration: none;
  color: #A3A3A3;
  border-radius: 60px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tui-page-btn:hover{
  background-color: var(--accent-color);
  color: #E8E8E2;
}
 

.tui-is-selected{
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  font-weight: normal;
  width: 40px;
  height: 40px;
  border-radius: 60px;
  background: var(--accent-color);
  color: var(--background-color);
}
.tui-prev{
  margin-right: 80px;
}

.tui-next{
  margin-left: 80px;
}
.tui-first, 
.tui-prev, 
.tui-next, 
.tui-last{
  display: flex;
  padding: 8px;
  align-items: center;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 60px;
  background: var(--white-color);
  color: #A3A3A3;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tui-first:hover,
.tui-prev:hover,
.tui-next:hover,
.tui-last:hover
{
  background-color: var(--accent-color);
color: #FAFAFA;
}

.tui-is-disabled{
  pointer-events: none;
}


    
    /* start--------------------styles pagination----------------start */
    /* .container-pagination {
      display: flex;
      flex-direction: row;
      width: 472px;
      justify-content: space-between;
      align-items: center;
    }
    
    .container-pagination .button {
      display: flex;
      padding: 8px;
      align-items: center;
      width: 40px;
      height: 40px;
      border: none;
      border-radius: 60px;
      background: var(--white-color);
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
    .container-pagination .button:hover {
      background-color: var(--accent-color);
    }

    .container-pagination .button svg {
      pointer-events: none;
      fill: #a3a3a3;
    }
    .container-pagination .button:hover svg {
      fill: #FAFAFA;
    }
    .container-pagination .button:disabled {
      pointer-events: none;
    }
    
    .angle-left,
    .angle-right {
      fill: #a3a3a3;
    } */

    /* .pagination-links {
      display: flex;
      flex-direction: row;
      column-gap: 8px;
    }
    
    .pag-link {
      display: flex;
      justify-content: center;
      align-items: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border-radius: 60px;
      text-decoration: none;
      color: #a3a3a3;
      text-align: center;
      font-size: 14px;
      font-weight: 500;
      line-height: 1.43;
      cursor: pointer;
      transition: background-color 0.3s ease, color 0.3s ease;
    }
    
    .pag-link:hover {
      display: flex;
      justify-content: center;
      align-items: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border-radius: 60px;
      background-color: var(--accent-color);
      color: var(--background-color);
    }
    
    .pag-link.active {
      display: flex;
      justify-content: center;
      align-items: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border-radius: 60px;
      background: var(--accent-color);
      color: var(--background-color);
    } */

 /* end--------------------styles pagination----------------end */